rapidandroid/org.rapidandroid/bin/
rapidandroid/org.rapidandroid/gen/
rapidandroid/org.rapidandroid/.settings/
rapidandroid/org.rapidandroid/.classpath
rapidandroid/org.rapidandroid/project.properties
rapidjava/org.rapidsms.java/bin/
rapidjava/org.rapidsms.java/.settings/

/rapidandroid/RapidAndroidTest/bin/
sandbox/charttest/.classpath
rapidjava/org.rapidsms.java/.classpath
