rapidandroid/org.rapidandroid/bin/*
rapidjava/org.rapidsms.java/bin/
rapidandroid/org.rapidandroid/bin*
rapidandroid/org.rapidandroid/gen/


#       .gitignore
#       rapidandroid/org.rapidandroid/adjoa.txt
#       rapidandroid/org.rapidandroid/bin/classes/
#       rapidandroid/org.rapidandroid/gen/
#       rapidjava/org.rapidsms.java/bin/